nav {
    background-color: #003865;
    height: 85px;
    width: 100%;
    display: flex;
  }
.github-icon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.search {
    margin-top: 25px;
    margin-left: 120px;
}
.avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
.avatar {
    background-color: transparent;
    margin-top: 10px;
    margin-left: 780px;
    border: none;
}
.search-feild {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid #003865;
    outline: none;
    box-shadow: inset 0px 0px 25px 0px #003865;
    &:focus {
      border: none;
      box-shadow: none;
    }
}
  